<!DOCTYPE html>
<html>
  <head>
    <title>Showspy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One|Quicksand:300" rel="stylesheet">
  </head>

  <body>
  <h1 id="main-header">ShowSpy</h1>
  	<div id="main-container">
    	<%= yield %>
      <p>Concert information provided by <a href="http://www.jambase.com">JamBase™</a></p>
    </div>
  </body>
</html>
